<h1>Pizza Orders</h1>

<% for pizza in @pizzas %>
<p>ID: <%= pizza.id %></p>

<p>Name: <%= pizza.pretty_name() %></p>
<p>Order: <%= pizza.quantity %> x <%= pizza.topping %></p>
<p><a href="/pizzas/<%= pizza.id %>">Show Order</a></p>
<hr />

<% end %>